@import "tailwindcss";

:root {
  --background: oklch(0.21054 0.01408 280.12571);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.21054 0.01408 280.12571);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.19692 0.00911 280.5018);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.44208 0.24019 267.62472);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.14085 0.0513 300.21824);
  --secondary-foreground: oklch(0.985 0 0);
  --accent: oklch(0.17343 0.03451 237.06351);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.58295 0.20769 28.13625);
  --destructive-foreground: oklch(0.985 0 0);
  --muted: oklch(0.25431 0.01907 279.9728);
  --muted-foreground: oklch(0.985 0 0);
  --border: oklch(0.26689 0.01494 280.32634);
  --input: oklch(0.26689 0.01494 280.32634);
  --ring: oklch(0.44208 0.24019 267.62472);
}

.dark {
  --radius: 0.5rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.141 0.005 285.823);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.141 0.005 285.823);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.141 0.005 285.823);
  --primary: oklch(0.66095 0.14709 276.79698);
  --primary-foreground: oklch(0.141 0.005 285.823);
  --secondary: oklch(0.99565 0.00038 304.34251);
  --secondary-foreground: oklch(0.141 0.005 285.823);
  --accent: oklch(0.99588 0.00034 236.43706);
  --accent-foreground: oklch(0.141 0.005 285.823);
  --destructive: oklch(0.58295 0.20769 28.13625);
  --destructive-foreground: oklch(0.985 0 0);
  --muted: oklch(0.96851 0.00122 281.26696);
  --muted-foreground: oklch(0.141 0.005 285.823);
  --border: oklch(0.91763 0.00683 281.16655);
  --input: oklch(0.91763 0.00683 281.16655);
  --ring: oklch(0.66095 0.14709 276.79698);
}

html,
body {
  height: 100%;
  overflow: hidden;
  overscroll-behavior: none;
}
